<section class="section section-lg section-nucleo-icons pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="blurtitulo-hero">Logística de alcance nacional</h2>
        <p class="lead">
          Contamos con nuestros propios gestores de logística que garantizarán que tus productos lleguen a cualquier parte del país.
        </p>
        <div class="btn-wrapper">
<!--           <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/icons?ref=adsa-nucleo-section" class="btn btn-primary">View demo icons</a>
 -->          <a href="https://nucleoapp.com/?ref=1712" target="_blank" class="btn btn-default mt-3 mt-md-0">Unirme</a>
        </div>
      </div>
    </div>
    <div class="blur--hover"> <!-- blur--hover -->
      <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/icons?ref=adsa-nucleo-section">
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
<!--           <i class="icon ni ni-diamond"></i> -->
<img class="d-flex w-50 mt-1 mx-auto" src="assets/img/theme/ecuador3d2.png" alt="mapa-del-ecuador">
          <!-- Right 1 -->

          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (2).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (1).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (1).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <!-- Right 2 -->
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (4).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (4).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (5).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <!-- Left 1 -->
          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (2).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (3).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon icon-sm ni">
            <img src="assets/img/theme/img-ni- (3).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <!-- Left 2 -->
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (5).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (6).jpg" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
          <i class="icon ni">
            <img src="assets/img/theme/img-ni- (6).png" class="w-100" style="box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;border-radius: 50%;" alt="">
          </i>
        </div>
        <span class="blur-hidden blurtitulo-hero">Conoce más sobre nuestras rutas frecuentes de envío a costo reducido</span>
      </a>
    </div>
  </div>
</section>
