.blurtitulo-hero {
    color: #174d17;
    text-align: center;
    font-size: 2.75em;
    font-weight: 800;
    line-height: 0.9;

}

.descriptchon {
    font-size: 1.2em;
    line-height: 1.1;
    padding-left: 8svw;
    padding-right: 8svw;
}

@media (max-width: 480px) {
    .descriptchon {
        font-size: 1.2em;
        line-height: 1.1;
        padding-left: 1svw;
        padding-right: 1svw;
    } 

    .blurtitulo-hero {
        color: #174d17;
        text-align: center;
        font-size: 1.75em;
        font-weight: 800;
        line-height: 0.9;
    
    }
    
}

@media (min-width: 481px) and (max-width: 768px) {
    .descriptchon {
        font-size: 1.2em;
        line-height: 1.1;
        padding-left: 15svw;
        padding-right: 15svw;
    }
}

@media (min-width: 769px) and (max-width: 1023px) {
    .descriptchon {
        font-size: 1.2em;
        line-height: 1.1;
        padding-left: 15svw;
        padding-right: 15svw;
    }
}