<main>
  <div class="position-relative">  <!-- style="height: 100svh; background-color: mediumseagreen; mix-blend-mode: none;" -->
    <!-- Hero for FREE version -->
    <section class="section section-lg section-hero section-shaped">
      <!-- Background circles -->
      <div class="shape shape-style-1 shape-default">
        <span class="span-150"></span>
        <span class="span-50"></span>
        <span class="span-50"></span>
        <span class="span-75"></span>
        <span class="span-100"></span>
        <span class="span-75"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
        <span class="span-50"></span>
        <span class="span-100"></span>
      </div>



      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-10 col-lg-6 text-center">
              <img src="./assets/img/brand/am1.png" style="width: 150px;" class="taza-bg img-fluid">
              <h1 class="titulo-hero">Vende lo que quieras<br>en un solo lugar</h1>
              <p class="lead text-white weird-hero">Vender tus productos en línea<br>nunca fue tan fácil y seguro.</p>
              <div class="btn-wrapper form-group">
                <div class="form-group">
                  <label for="exampleInputEmail1" class="small text-white">Ingresa tu correo para crear una cuenta en segundos.</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dirección de email">
                  <small id="emailHelp" class="form-text text-muteado">Nunca compartiremos tu información personal.</small>
                </div>
                <a href="#" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--text">
                    Crear cuenta
                  </span>
                </a>
              </div>
            </div>
            
          </div>
        </div>
      </div>


      
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100 doritos" style="bottom: -1px;"> <!-- MODIFICAR LA SEPARACION DEL INCLINADO DESDE ACA -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="1920px"
	 height="70px" viewBox="0 0 1920 70" style="fill:#F2EDE6; overflow:visible;enable-background:new 0 0 1920 70;" xml:space="preserve">
<style type="text/css">
	.st0{opacity:0.4;fill:#F2EDE6}
	.st1{opacity:0.6;fill:#F2EDE6}
	.st2{opacity:0.8;fill:#F2EDE6}
	.st3{opacity:0.2;fill:#F2EDE6}
</style>
<defs>
</defs>
<g>
	<g class="st0">
		<rect x="40" y="20" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="60" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="80" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="90" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="110" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="160" y="10" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="190" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="200" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="240" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="260" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="270" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="310" y="20" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="360" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="370" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="420" y="20" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="440" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="480" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="490" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="510" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="550" y="10" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="570" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="580" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="590" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="640" y="20" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="660" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="690" y="20" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="710" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="720" y="10" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="760" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="810" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="840" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="910" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="930" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="980" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="990" y="8" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1040" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1120" y="20" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1140" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1150" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1210" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="1220" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1230" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1320" y="8" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1340" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="1380" y="8" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1400" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1470" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="1530" y="10" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1540" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1560" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1610" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1630" y="50" width="10" height="10"/>
	</g>
	<g class="st3">
		<rect x="1650" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1690" y="10" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1700" y="50" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1740" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1770" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1780" y="10" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1800" y="50" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1840" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1850" y="20" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1870" y="50" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1890" y="20" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="10" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="30" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="40" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="50" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="70" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="100" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="130" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="140" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="150" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="170" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="180" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="220" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="230" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="250" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="290" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="300" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="310" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="330" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="340" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="390" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="400" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="410" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="420" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="430" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="450" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="460" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="470" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="500" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="510" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="520" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="530" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="540" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="560" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="600" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<polygon points="620,50 630,50 630,40 620,40 610,40 610,50 		"/>
	</g>
	<g class="st0">
		<rect x="630" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="640" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="650" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="670" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="680" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="690" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="700" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="730" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="740" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="750" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="780" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="790" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="840" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="850" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="870" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<polygon points="890,50 900,50 900,40 890,40 880,40 880,50 		"/>
	</g>
	<g class="st1">
		<rect x="940" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="950" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="960" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1000" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1020" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1030" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1060" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1070" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1090" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1110" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1120" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1170" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1180" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1190" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1240" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1260" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1270" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1280" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1300" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1310" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1350" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1360" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1370" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1420" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1430" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1440" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1450" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1460" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1490" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1500" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1510" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1520" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1570" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1580" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1590" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1650" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1660" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1670" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1680" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1720" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1730" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1750" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1760" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1790" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1810" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1820" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1830" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1850" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1860" y="40" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1880" y="40" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1890" y="40" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1900" y="40" width="10" height="10"/>
	</g>
	<g>
		<polygon points="1910,50 1900,50 1890,50 1880,50 1880,60 1870,60 1870,50 1860,50 1850,50 1850,60 1840,60 1840,50 1830,50 
			1820,50 1810,50 1810,60 1800,60 1800,50 1790,50 1790,40 1780,40 1780,50 1780,60 1770,60 1770,50 1760,50 1750,50 1750,60 
			1740,60 1740,50 1730,50 1720,50 1720,40 1710,40 1710,50 1710,60 1700,60 1700,50 1700,40 1690,40 1690,50 1680,50 1670,50 
			1660,50 1650,50 1650,40 1640,40 1640,50 1640,60 1630,60 1630,50 1630,40 1620,40 1620,50 1620,60 1610,60 1610,50 1610,40 
			1600,40 1600,50 1590,50 1580,50 1570,50 1570,60 1560,60 1560,50 1560,40 1550,40 1550,50 1550,60 1540,60 1540,50 1540,40 
			1530,40 1530,50 1520,50 1510,50 1500,50 1490,50 1490,40 1480,40 1480,50 1480,60 1470,60 1470,50 1460,50 1450,50 1440,50 
			1430,50 1420,50 1420,40 1410,40 1410,50 1410,60 1400,60 1400,50 1400,40 1390,40 1380,40 1380,50 1370,50 1360,50 1350,50 
			1350,60 1340,60 1340,50 1340,40 1330,40 1320,40 1320,50 1310,50 1300,50 1300,40 1290,40 1290,50 1280,50 1270,50 1260,50 
			1260,40 1250,40 1250,50 1240,50 1240,60 1230,60 1230,50 1230,40 1220,40 1220,50 1220,60 1210,60 1210,50 1210,40 1200,40 
			1200,50 1190,50 1180,50 1170,50 1170,40 1160,40 1160,50 1160,60 1150,60 1140,60 1140,50 1140,40 1130,40 1130,50 1120,50 
			1110,50 1110,40 1100,40 1100,50 1090,50 1090,40 1080,40 1080,50 1070,50 1060,50 1060,40 1050,40 1050,50 1050,60 1040,60 
			1040,50 1030,50 1020,50 1020,40 1010,40 1010,50 1000,50 1000,40 990,40 990,50 990,60 980,60 980,50 980,40 970,40 970,50 
			960,50 950,50 940,50 940,40 930,40 920,40 920,50 920,60 910,60 910,50 910,40 900,40 900,50 890,50 880,50 870,50 870,40 
			860,40 860,50 850,50 840,50 840,40 830,40 820,40 820,50 820,60 810,60 810,50 810,40 800,40 800,50 790,50 780,50 780,40 
			770,40 770,50 770,60 760,60 760,50 750,50 740,50 730,50 730,40 720,40 720,50 720,60 710,60 710,50 700,50 690,50 680,50 
			670,50 670,60 660,60 660,50 650,50 640,50 630,50 620,50 610,50 600,50 600,40 590,40 590,50 590,60 580,60 570,60 570,50 
			560,50 560,40 550,40 550,50 540,50 530,50 520,50 510,50 500,50 500,60 490,60 480,60 480,50 470,50 460,50 450,50 450,60 
			440,60 440,50 430,50 420,50 410,50 400,50 390,50 390,40 380,40 380,50 380,60 370,60 360,60 360,50 360,40 350,40 350,50 
			340,50 330,50 330,40 320,40 320,50 310,50 300,50 290,50 290,40 280,40 280,50 280,60 270,60 260,60 260,50 250,50 250,40 
			240,40 240,50 230,50 220,50 220,40 210,40 210,50 210,60 200,60 190,60 190,50 180,50 170,50 170,40 160,40 160,50 150,50 
			140,50 130,50 130,40 120,40 120,50 120,60 110,60 110,50 100,50 100,40 90,40 90,50 90,60 80,60 80,50 70,50 70,60 60,60 60,50 
			50,50 40,50 30,50 30,40 20,40 20,50 10,50 10,40 0,40 0,50 0,60 0,70 10,70 20,70 30,70 40,70 50,70 60,70 70,70 80,70 90,70 
			100,70 110,70 120,70 130,70 140,70 150,70 160,70 170,70 180,70 190,70 200,70 210,70 220,70 230,70 240,70 250,70 260,70 
			270,70 280,70 290,70 300,70 310,70 320,70 330,70 340,70 350,70 360,70 370,70 380,70 390,70 400,70 410,70 420,70 430,70 
			440,70 450,70 460,70 470,70 480,70 490,70 500,70 510,70 520,70 530,70 540,70 550,70 560,70 570,70 580,70 590,70 600,70 
			610,70 620,70 630,70 640,70 650,70 660,70 670,70 680,70 690,70 700,70 710,70 720,70 730,70 740,70 750,70 760,70 770,70 
			780,70 790,70 800,70 810,70 820,70 830,70 840,70 850,70 860,70 870,70 880,70 890,70 900,70 910,70 920,70 930,70 940,70 
			950,70 960,70 970,70 980,70 990,70 1000,70 1010,70 1020,70 1030,70 1040,70 1050,70 1060,70 1070,70 1080,70 1090,70 1100,70 
			1110,70 1120,70 1130,70 1140,70 1150,70 1160,70 1170,70 1180,70 1190,70 1200,70 1210,70 1220,70 1230,70 1240,70 1250,70 
			1260,70 1270,70 1280,70 1290,70 1300,70 1310,70 1320,70 1330,70 1340,70 1350,70 1360,70 1370,70 1380,70 1390,70 1400,70 
			1410,70 1420,70 1430,70 1440,70 1450,70 1460,70 1470,70 1480,70 1490,70 1500,70 1510,70 1520,70 1530,70 1540,70 1550,70 
			1560,70 1570,70 1580,70 1590,70 1600,70 1610,70 1620,70 1630,70 1640,70 1650,70 1660,70 1670,70 1680,70 1690,70 1700,70 
			1710,70 1720,70 1730,70 1740,70 1750,70 1760,70 1770,70 1780,70 1790,70 1800,70 1810,70 1820,70 1830,70 1840,70 1850,70 
			1860,70 1870,70 1880,70 1890,70 1900,70 1910,70 1920,70 1920,60 1920,50 1920,40 1910,40 		"/>
	</g>
	<g class="st1">
		<rect y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="20" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="90" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="120" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="160" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="210" y="30" width="10" height="10"/>
	</g>
	<g class="st3">
		<polygon points="250,30 250,20 240,20 240,30 240,40 250,40 		"/>
	</g>
	<g class="st2">
		<rect x="280" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="320" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="350" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="380" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="550" y="30" width="10" height="10"/>
	</g>
	<g class="st3">
		<polygon points="600,30 600,20 590,20 590,30 590,40 600,40 		"/>
	</g>
	<g class="st2">
		<rect x="720" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="770" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="800" y="30" width="10" height="10"/>
	</g>
	<g class="st3">
		<polygon points="840,40 840,30 840,20 830,20 820,20 820,30 820,40 830,40 		"/>
	</g>
	<g class="st3">
		<polygon points="870,30 870,20 860,20 860,30 860,40 870,40 		"/>
	</g>
	<g class="st2">
		<rect x="900" y="30" width="10" height="10"/>
	</g>
	<g class="st3">
		<polygon points="940,40 940,30 940,20 930,20 920,20 920,30 920,40 930,40 		"/>
	</g>
	<g class="st1">
		<rect x="970" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="990" y="30" width="10" height="10"/>
	</g>
	<g class="st3">
		<polygon points="1020,30 1020,20 1010,20 1010,30 1010,40 1020,40 		"/>
	</g>
	<g class="st2">
		<rect x="1050" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1080" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1100" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1130" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1160" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1200" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1220" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1250" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1290" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1320" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1330" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1380" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1390" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1410" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1480" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1530" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1550" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1600" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1620" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1640" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1690" y="30" width="10" height="10"/>
	</g>
	<g class="st1">
		<rect x="1710" y="30" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="90" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="120" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="210" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="350" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="770" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="970" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1080" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1100" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1160" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1220" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1290" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1330" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1390" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1410" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1480" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1550" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1600" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1640" y="20" width="10" height="10"/>
	</g>
	<g class="st0">
		<rect x="1710" y="20" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1780" y="30" width="10" height="10"/>
	</g>
	<g class="st2">
		<rect x="1910" y="30" width="10" height="10"/>
	</g>
</g>
</svg>



      </div>
    </section>
  </div>
  <app-sections></app-sections>
</main>



