<main>
  <div class="position-relative" style="height: 90svh;">  <!-- style="height: 100svh; background-color: mediumseagreen; mix-blend-mode: none;" -->
    <!-- Hero for FREE version -->
      <!-- Background circles -->
<div class="videoWrapper">
	<iframe width="560" height="315" src="https://www.youtube.com/embed/5UKz3JQteTo?start=4&end=27&disablekb=1&controls=0&showinfo=0&loop=1&playlist=5UKz3JQteTo&autoplay=1&mute=1&modestbranding=1"  title="YouTube video player" frameborder="0" allow="accelerometer; loop; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></div>



      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-10 col-lg-6 text-center">
              <img src="./assets/img/brand/quioto-logo-deffo-01.png" style="width: 350px;" class="taza-bg img-fluid">
<!--               <h1 class="titulo-hero">QUIOTO</h1> -->
              <p class="lead text-white weird-hero">Asian fusion cuisine</p>
              <div class="btn-wrapper form-group">
<!--                 <div class="form-group">
                  <label for="exampleInputEmail1" class="small text-white">Ingresa tu correo para crear una cuenta en segundos.</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Dirección de email">
                  <small id="emailHelp" class="form-text text-muteado">Nunca compartiremos tu información personal.</small>
                </div> -->
<!--                 <a href="#" class="btn btn-lg btn-github btn-icon mb-3 mb-sm-0" target="_blank">
                  <span class="btn-inner--text">
                    Crear cuenta
                  </span>
                </a> -->
              </div>
            </div>
            
          </div>
        </div>
      </div>


      
      <!-- SVG separator -->
      <div class="violator"> <!-- MODIFICAR LA SEPARACION DEL INCLINADO DESDE ACA -->
		<img src="./assets/img/brand/ola-cinco-01.svg" class="" alt="">



      </div>

  </div>
  <app-sections></app-sections>
</main>



