.titulo-hero {
    color: white;
    font-weight: 800;
    line-height: 1;
    position: relative;
    font-size: 2.5em;
    top: -5svh;
    z-index: 10;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    filter: drop-shadow(0 0 0.75rem rgb(46, 46, 46));

}

.taza-bg {
    position: relative;/* 
    top: -10svh; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 9;
    transform: rotate(0deg);

}

.weird-hero {/* 
    padding-top: 25svh; */
    line-height: 1;/* 
    padding-inline: 5svw; */
    font-weight: 400;
    position: relative;
}

.text-muteado {
    color: rgb(71, 71, 71);
}

.btn-github {
    position: relative;
    top: 0svh;
    border: none;
}

/* .doritos {
    bottom: -2px;
} */



@media (max-width: 767px) {
    .weird-hero {
        position: relative;
        top: -12svh;
        line-height: 1;
        font-weight: 400;
    }
    .taza-bg {
        position: relative;
        top: -12svh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 9;
        transform: rotate(0deg);
    
    }
    .titulo-hero {
        color: white;
        font-weight: 600;
        line-height: 1;
        position: relative;
        top: -15svh;
        z-index: 10;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }

    .container .form-group {
        position: relative;
        top: -7svh;
    }
    .btn-github {
        position: relative;
        top: -8svh;
        border: none;
    }
}

@media (min-width: 768px) and (max-width: 1280px) {
    .weird-hero {
        padding-top: 0svh;
        line-height: 1;
        font-weight: 400;
    }
    .btn-github {
        position: relative;
        top: 5svh;
        border: none;
    }
    .taza-bg {
        position: relative;
        top: -5svh;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        z-index: 9;
        transform: rotate(0deg);
    
    }
    .titulo-hero {
        color: white;
        font-weight: 800;
        line-height: 1;
        position: relative;
        top: -8svh;
        z-index: 10;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        padding-left: 5svw;
        padding-right: 5svw;
    }
}